/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 24px;
  line-height: 32px;
  color:black;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  height: 70px;
  padding-top: 25px;
}

#left {
  float: left;
  background-color: #666;
  width:33%;
}

#middle {
  float: left;
  background-color: #888;
  width:33%;
}

#right {
  float: left;
  background-color: #666;
  width:34%
}

#full {
  margin-top: 110px;
  height: 15.5rem;
  background-color:teal;
  padding-top: 10px;
  clear: both;
}

#division {
  background-color: aqua;
    margin: 12px;
    padding:30px;
}

aside {
  float: left;
  height: 10%;
  padding-top: 100px;
  margin-left: 60px;
  background-color: #fff;
  padding-bottom: 130px;
  width: 350px;
}

footer {
  margin-top: 15px;
  background-color: #ccc;
  padding-top: 30px;
  padding-bottom: 30px;
  clear: both;
}
